extends layout


block content
    link(href="/stylesheets/main.css" rel="stylesheet")
    link(href="/stylesheets/tutorial.css" rel="stylesheet")
    link(href="/stylesheets/exam.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js")
    
    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css")
    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css")
    //- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    
    //- <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    //- <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js')
    script(src='/javascripts/classes.js')
    script(src='/javascripts/ppt.js')
    
    script(src="/javascripts/reaction.js" type="text/javascript")
    //- <link rel="stylesheet" href="/stylesheets/contextMenu.css">
    
    <script src="/javascripts/contextMenu.js"></script>
    link(href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" rel="stylesheet")
    link(rel="preload" href="/images/background-tap-on.jpg" as="image")
    link(rel="preload" href="/images/background-tap-on-heat-shield.jpg" as="image")
    link(rel="preload" href="/images/background-heat-shield.jpg" as="image")
    link(rel="preload" href="/images/mini/delivery-tube.png" as="image")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous") 
    script(src="https://kit.fontawesome.com/e60b5739ed.js")
    
    .basket(onclick='clickedBasket()')
    .rack(onclick='clickedRack()')
    .bench(onclick='clickedBench()')
    .reagents(onclick='clickedFA()')
    .qa-sheet(onclick='window.open("/docs/QA_Sheet.pdf")')
    .bunsen-tap(onclick='toggleBunsen()')
    .heat-shield-1(onclick='toggleHeatShield()')
    .heat-shield-2(onclick='toggleHeatShield()')
    .heat-shield-3(onclick='toggleHeatShield()')
    .light(onclick='light()')
    .tap(onclick="toggleWater()")
    .water
    

    .exam-container
        .header
            p.name Exam Paper
        .contents
    


    #moving-div
    .working-area(onclick='putDownItemInWorkingArea()')
    .goggle-area(onclick='putDownItemInWorkingArea(true)')
    .movables
    .inventory-helper(style="z-index:-1 !important")
    .inventory
        p Inventory
        .slots
            #slot-1(class="slot" onclick="inventory('1')")
            #slot-3(class="slot" onclick="inventory('3')")
            #slot-2(class="slot" onclick="inventory('2')")
           
        

    script.
        //- Certain "global" variables
        
        var exam = !{stringify(exam)}
        var examInProgress = true
        console.log(exam)
        var currentlyMovingElem = ""
        var isMoving = false
        var preventMove = false 
        var objectsInUse = {}
        var objectsUsed = {}
        var listenToMouseMove = true
        var heldItem;
        var viewingExamPaper = false
        var pinnedExamPaper = false
    
    script(src='/javascripts/main.js' type="text/javascript")
    script(src='/javascripts/tutorial.js' type="text/javascript")
    script(src='/javascripts/exam.js' type="text/javascript")
        
