extends layout


block content
    link(href="/stylesheets/main.css" rel="stylesheet")
    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css")
    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css")
    //- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    
    //- <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    //- <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js')
    script(src='/javascripts/classes.js')
    script(src='/javascripts/main.js' type="text/javascript")
    //- <link rel="stylesheet" href="/stylesheets/contextMenu.css">
    
    <script src="/javascripts/contextMenu.js"></script>
    .basket(onclick='clickedBasket()')
    .rack(onclick='clickedRack()')
    .bench(onclick='clickedBench()')
    .reagents(onclick='clickedReagents()')
    #moving-div
    .working-area(onclick='putDownItemInWorkingArea()')
    .movables
    
    
    
    script.
        var obj5 = !{stringify(obj5)}
        
