.basket { 
    
    position: absolute;
    width: 20vw;
    height: 9.7vw;
    top: 2.7vw;
    left: 2.5vw;
    cursor: pointer;
    /* background-color: red; */

}

.working-area { 
    position: absolute;
    width: 64vw;
    height: 19.5vw;
    top: 22vw;
    left: 22.5vw;
    transform: skewX(15deg);
    /* cursor: pointer; */
    /* background-color: gray; */
    
    /* z-index: 5 */
}

.rack { 
    position: absolute;
    width: 16.5vw;
    height: 5.8vw;
    top: 14.4vw;
    left: 6vw;
    cursor: pointer;
    /* background-color: red */
}

.bench { 
    position: absolute;
    width: 22vw;
    height: 21.5vw;
    top: 0vw;
    left: 22.5vw;
    cursor: pointer;
    /* background-color: red; */
}

.reagents { 
    position: absolute;
    cursor: pointer;
    width: 11.5vw;
    height: 7vw;
    top: 20.5vw;
    left: 8vw;
    /* background-color: red; */
}
.qa-sheet { 
    position: absolute;
    width: 11.3vw;
    height: 13.7vw;
    top: 28.5vw;
    left: 9.6vw;
    cursor: pointer;
    opacity: 0.5;
    
    transform: skewX(15deg);
}

.bunsen-tap { 
    width: 2vw;
    height: 5vw;
    cursor: pointer;
    left: 57.6vw;
    top: 7.3vw;
    position: absolute;
    z-index: 2;
}

.heat-shield-1 { 
    width: 3.6vw;
    height: 9vw;
    cursor: pointer;
    position: absolute;
    top: 4.5vw;
    left: 50vw;
    transform: skewY(-51deg);
}

.new-1 { 
    width: 7.3vw;
    height: 9vw;    
    top: 15vw;
    left: 51.7vw;
    transform: skewY(0deg);
    z-index: 3
}

.heat-shield-2 { 
    cursor: pointer;
    width: 9.5vw;
    height: 8.6vw;
    
    position: absolute;
    top: 2.5vw;
    left: 53.5vw;
    z-index: 1
}

.new-2 {    
    width: 7.1vw;
    height: 8.6vw;    
    top: 18.1vw;
    left: 58.8vw;
    transform: skewY(40deg);
    z-index: 3
}

.heat-shield-3 { 
    cursor: pointer;
    width: 3.5vw;
    height: 7.6vw;
    
    position: absolute;
    top: 5.5vw;
    left: 62.5vw;
    opacity: 0.5;
    transform: skewY(51deg);
}

.new-3 {     
    width: 0.3vw;
    height: 13.8vw;       
    top: 20.9vw;
    left: 65.6vw;
    transform: skewY(0deg);
    z-index: 3
}

.light { 
    width: 2vw;
    height: 2vw;
    
    top: 19.7vw;
    left: 57.7vw;
    position: absolute;
    z-index: 5;
    pointer-events: auto !important
}

.lit { 
    background-image: url("/images/mini/fire.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: contain;
    width: 6vw;
    height: 6vw;
    top: 16vw;
    left: 55.4vw;
    
}

.goggle-area { 
    width: 8vw;
    height: 8vw;
    
    position: absolute;
    right: 5vw;
    top: 22vw;
    background-color: #dcd8c7;
    pointer-events: auto
}

.water { 
    width: 11vw;
    height: 11vw;
    background-image: url("/images/mini/water.png");
    background-size: 100% auto;
    position: absolute;
    right: 12.8vw;
    top: 5vw;
    display: none;
    z-index: 5;
    pointer-events: auto;
    
}
.tap { 
    width: 2.1vw;
    height: 2vw;
    position: absolute;
   
    top: 7vw;
    right: 21.3vw;
    z-index: 6;
    cursor: pointer;
    
}

/* Overlay the context menu */
.popup { 
    /* display: none; */
    background-color: white;
    z-index: 100;
    left: 5vw;
    position: relative;
    padding: 0.5vw;
    overflow:hidden;
    width: fit-content;
    height: fit-content; /* https://www.geeksforgeeks.org/how-to-make-div-not-larger-than-its-contents-using-css/ */
    cursor: auto;
}


/* Inspect test tube page */
#inspect { 
    width: 16.7vw;
    height: 25vw;
    margin: auto;
    /* background-color: white; */
    z-index: 200;
    overflow: hidden;
    
}

#background-image { 
    background-image: url('/images/test-tube-background-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index:0
}

#background-image-volume { 
    background-image: url('/images/test-tube-background-final-clear.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    width: 100%;
    /* height: 111%; */
    top: -125.6%;
    z-index: 20;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}

/* colors of test tube */
.color { 
    /* background-color: white; */
    position: relative;
    opacity: 0.8;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    z-index: 15
}

#color-bottom { 
    width: 53.2%;
    height: 17%;
    left: 23.8%;
    top: 77.75%;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}

#color-middle-bottom { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: 40.7%;
   



}
#color-middle-top { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: 0.8%;    

}

#color-top { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: -39.2%;
    
    
}

/* #color-top::after { 
    box-shadow: 0 0 0 20px #000;
    border-radius: 100%;
    position: absolute;
    height: 50px; 
    content: '';
    right: -20%;
    left: -20%;
    top: -150px;
} */

#color-max { 
    /* width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: -81.4%; */
    /* width: 53.2%;
    height: 16%;
    left: 23.8%;
    top: -74.4%; */
    /* opacity: 0; */
    width: 53.2%;
    height: 92%;
    left: 23.8%;
    top: 2.9%;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    /* transition: background-color 7.5s linear; */
    background-color: rgba(255,255,255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#tube-image-div { 
    width: 100%;
    height: 100%;
}


/* PPT */
.ppt {
    /* transition: opacity 7.5s linear 0s; */
    opacity: 0;
}
#ppt-1 {
     
    -webkit-mask-image: url('/images/ppt1.png');   
    mask-image: url('/images/ppt1.png');   
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 32;
    
}

#ppt-2 { 
    -webkit-mask-image: url('/images/ppt2.png');   
    mask-image: url('/images/ppt2.png');   
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
    z-index: 31;
    
}

#ppt-3 { 
    -webkit-mask-image: url('/images/ppt3.png');   
    mask-image: url('/images/ppt3.png');   
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: -300%;
    z-index: 30;
    
}

/* GAS */ 
.gas { 
    width: 6%;
    height: 4%;
    position: relative;
    border-radius: 100%;
    background-color: white;
    border: 0.1vw solid black;
    z-index: 40;
    /* top: -315%; */
    transition:  opacity 100ms, background-color 1500ms ease-out
    
   
}

/* Inspect Filter Page */
#filter-inspect { 
    width: 25vw;
    height: 25vw;
    margin: auto;
    z-index: 200;
    overflow: hidden;
}

#filter-image-div { 
    width: 100%;
    height: 100%;
}

#filter-background-image { 
    background-image: url('/images/filter-inspect.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index:0
}

.filter-ppt { 
    opacity: 0;
    
}
/* #filter-ppt-1 {
    background-image: url('/images/filter-ppt1.png');    
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 32;
    background-repeat: no-repeat;
    background-position: bottom;
    
    background-size: contain;
} */

#filter-ppt-1 { 
    -webkit-mask-image: url('/images/filter-ppt1.png');   
    mask-image: url('/images/filter-ppt1.png');   
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 32;
    -webkit-mask-size: contain;
    mask-size: contain

}

#filter-ppt-2 { 
    -webkit-mask-image: url('/images/filter-ppt2.png');   
    mask-image: url('/images/filter-ppt2.png');   
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
    z-index: 31;
    -webkit-mask-size: contain;
    mask-size: contain
}


#filter-ppt-3 { 
    -webkit-mask-image: url('/images/filter-ppt3.png');   
    mask-image: url('/images/filter-ppt3.png');
    width: 100%;
    height: 100%;
    position: relative;
    top: -300%;
    z-index: 30;
    -webkit-mask-size: contain;
    mask-size: contain
}

/* AlertifyJS */
.ajs-ok, .ajs-cancel { 
    cursor: pointer;
}

.alertify { 
    pointer-events: auto !important;
}

.cust-disabled { 
    cursor: not-allowed;
    /* pointer-events: none !important */
}

.no-click { 
    pointer-events: none !important

}

.on-working-area { 
    z-index: 10;
    cursor: pointer;
}



.popup > a { 
    cursor: pointer
}
.moving { 
    /* width: 100px;
    height: 100px; */
    /* background-color: green; */
    position: absolute;
    pointer-events: none;
    z-index: 10000
}

.bench-bottle { 
    width: 6vw;
    height: 6vw;
    position: absolute;
    background-size: contain;
    background-position: center;
}
.reagent-bottle { 
    width: 5vw ;
    height: 5vw;
    position: absolute;
    background-size: contain;
    background-position: center;
}

.apparatus { 
    position: absolute;
    /* background-color: yellow; */
    /* width: 100px;
    height: 100px; */
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ten_mc { 
    width: 3vw;
    height: 3vw
    
}

.fifty_mc { 
    width: 6vw;
    height: 6vw
}

.dropper { 
    width: 4vw ;
    height: 4vw
}

.test_tube { 
    width: 5vw;
    height: 5vw;
    
}

.delivery_tube { 
    width: 10vw;
    height: 5vw;
    
}

.boiling_tube { 
    width: 6vw;
    height: 6vw;
}

.funnel, .filter_funnel { 
    width: 4vw;
    height: 4vw;
    /* z-index: 5 */
}

.filter, .folded_filter { 
    width: 3vw ;
    height: 3vw ;
}

.test_tube_funnel, .test_tube_funnel_filter { 
    width: 5vw ;
    height: 6vw;
}

.damp_red_litmus, .damp_blue_litmus { 
    width: 0.75vw;
    height: 3vw;
    
}

.lighter { 
    width: 5vw;
    height: 5vw;
}

.splint, .lit_splint, .glowing_splint { 
    width: 4vw;
    height: 4vw
}

.safety_goggles { 
    width: 7vw;
    height: 7vw
}
.inventory { 
    position: absolute;
    width: 40vw;
    height: 15vw;
    min-width: 20%;
    min-height: 10%;
    background-color: white;
    bottom: -12vw;
    transition: bottom ease 0.5s;
    border-radius: 1vw 1vw 0 0;
    pointer-events: auto !important;
    padding-bottom: 1vw;
    
}

.inventory:hover { 
    bottom: 0vw
}

.inventory > p { 
    text-align: center;
    font-size: 1.5vw;

}
.inventory-helper { 
    position: absolute;
    width: 1vw;
    height: 1vw;
    /* min-width: 20%; */
    bottom: 13vw;
    z-index: -1;
    opacity: 0;
    left: 40vw
}
.slots { 
    height: 90%;
    width: 100%;
   

}

.slot:hover { 
    background-color: #5c5c5c;
    cursor: pointer;
}
.slot { 
    width: 30%;
    height: 80%;
    
    border-radius: 0.5vw;
    
    border: 2px solid black;  
    transition: background-color 200ms ease-out;
    
   
    
}
#slot-1 { 
    float: left;
    margin-left: 1vw
}
#slot-3 { 
    float: right;
    margin-right: 1vw
}
#slot-2 { 
    margin: auto
}
#litmus

#paper-before { 
    position: relative;
    /* background-color: #f4bbc5; */
    width: 2vw;
    height: 8vw;
    margin: auto;
    z-index: 1000;
    top: -1vw;
    
    
}

#paper-after { 
    position: relative;
    /* background-color: #f4bbc5; */
    width: 2vw;
    height: 8vw;
    margin: auto;
    z-index: 1222;
    top: -9vw;
    background-image: linear-gradient(#aab6dd, #f4bbc5);
    transition: opacity 5s;
    opacity: 0
}

#splint-before { 
    position: relative;
    width: 12vw;
    height: 12vw;
    margin: auto;
    background-image: url("/images/mini/splint.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    top: -3.1vw;
    left: 4.5vw;
}

#splint-after { 
    
    position: relative;
    width: 12vw;
    height: 12vw;
    margin: auto;    
    background-repeat: no-repeat;
    background-size: 100% auto;
    top: -15.1vw;
    left: 4.5vw;

}

