.basket { 
    
    position: absolute;
    width: 20vw;
    height: 9.7vw;
    top: 2.7vw;
    left: 2.5vw;
    cursor: pointer;
    /* background-color: red; */

}

.working-area { 
    position: absolute;
    width: 64vw;
    height: 19.5vw;
    top: 22vw;
    left: 22.5vw;
    transform: skewX(15deg);
    /* cursor: pointer; */
    /* background-color: gray; */
    
    /* z-index: 5 */
}

.rack { 
    position: absolute;
    width: 16.5vw;
    height: 4vw;
    top: 16vw;
    left: 6vw;
    cursor: pointer;
    /* background-color: red */
}

.bench { 
    position: absolute;
    width: 22vw;
    height: 21.5vw;
    top: 0vw;
    left: 22.5vw;
    cursor: pointer;
    /* background-color: red; */
}

.reagents { 
    position: absolute;
    cursor: pointer;
    width: 11.5vw;
    height: 7vw;
    top: 20.5vw;
    left: 8vw;
    /* background-color: red; */
}
.qa-sheet { 
    position: absolute;
    width: 11.3vw;
    height: 13.7vw;
    top: 28.5vw;
    left: 9.6vw;
    cursor: pointer;
    opacity: 0.5;
    
    transform: skewX(15deg);
}
/* Overlay the context menu */
.popup { 
    /* display: none; */
    background-color: white;
    z-index: 10;
    left: 5vw;
    position: relative;
    padding: 0.5vw;
    overflow:hidden;
    width: fit-content;
    height: fit-content; /* https://www.geeksforgeeks.org/how-to-make-div-not-larger-than-its-contents-using-css/ */
}


/* Inspect test tube page */
#inspect { 
    width: 16.7vw;
    height: 25vw;
    margin: auto;
    /* background-color: white; */
    z-index: 200;
    overflow: hidden;
    
}

#background-image { 
    background-image: url('/images/test-tube-background-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index:0
}

#background-image-volume { 
    background-image: url('/images/test-tube-background-final-clear.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    width: 100%;
    /* height: 111%; */
    top: -125.6%;
    z-index: 20;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}

/* colors of test tube */
.color { 
    /* background-color: white; */
    position: relative;
    opacity: 0.8;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    z-index: 15
}

#color-bottom { 
    width: 53.2%;
    height: 17%;
    left: 23.8%;
    top: 77.75%;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}

#color-middle-bottom { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: 40.7%;
   



}
#color-middle-top { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: 0.8%;    

}

#color-top { 
    width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: -39.2%;
    
    
}

/* #color-top::after { 
    box-shadow: 0 0 0 20px #000;
    border-radius: 100%;
    position: absolute;
    height: 50px; 
    content: '';
    right: -20%;
    left: -20%;
    top: -150px;
} */

#color-max { 
    /* width: 53.2%;
    height: 20%;
    left: 23.8%;
    top: -81.4%; */
    /* width: 53.2%;
    height: 16%;
    left: 23.8%;
    top: -74.4%; */
    /* opacity: 0; */
    width: 53.2%;
    height: 92%;
    left: 23.8%;
    top: 2.9%;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    /* transition: background-color 7.5s linear; */
    background-color: rgba(255,255,255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#tube-image-div { 
    width: 100%;
    height: 100%;
}


/* PPT */
.ppt {
    /* transition: opacity 7.5s linear 0s; */
    opacity: 0;
}
#ppt-1 {
    background-image: url('/images/ppt1.png');    
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 32;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}

#ppt-2 { 
    background-image: url('/images/ppt2.png');
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
    z-index: 31;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}

#ppt-3 { 
    background-image: url('/images/ppt3.png');
    width: 100%;
    height: 100%;
    position: relative;
    top: -300%;
    z-index: 30;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}

/* GAS */ 
.gas { 
    width: 6%;
    height: 4%;
    position: relative;
    border-radius: 100%;
    background-color: white;
    border: 0.1vw solid black;
    z-index: 40;
    /* top: -315%; */
    transition:  opacity 100ms, background-color 1500ms ease-out
    
   
}

/* Inspect Filter Page */
#filter-inspect { 
    width: 25vw;
    height: 25vw;
    margin: auto;
    z-index: 200;
    overflow: hidden;
}

#filter-image-div { 
    width: 100%;
    height: 100%;
}

#filter-background-image { 
    background-image: url('/images/filter-inspect.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index:0
}

.filter-ppt { 
    opacity: 0;
    
}
#filter-ppt-1 {
    background-image: url('/images/filter-ppt1.png');    
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 32;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}

#filter-ppt-2 { 
    background-image: url('/images/filter-ppt2.png');
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
    z-index: 31;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}

#filter-ppt-3 { 
    background-image: url('/images/filter-ppt3.png');
    width: 100%;
    height: 100%;
    position: relative;
    top: -300%;
    z-index: 30;
    background-repeat: no-repeat;
    background-position: bottom;
    /* left: 0%; */
    background-size: contain;
}


.on-working-area { 
    z-index: 10;
    cursor: pointer;
}
.popup {
    cursor: auto
}

.popup > a { 
    cursor: pointer
}
.moving { 
    /* width: 100px;
    height: 100px; */
    /* background-color: green; */
    position: absolute;
    pointer-events: none;
    z-index: 100
}

.bench-bottle { 
    width: 6vw !important;
    height: 6vw !important;
    position: absolute;
    background-size: cover
}
.reagent-bottle { 
    width: 5vw !important;
    height: 5vw !important;
    position: absolute;
    background-size: cover
}

.apparatus { 
    position: absolute;
    /* background-color: yellow; */
    /* width: 100px;
    height: 100px; */
    background-size: cover;
}

.ten_mc { 
    width: 3vw !important;
    height: 3vw !important;
    
}

.fifty_mc { 
    width: 6vw !important;
    height: 6vw !important;
}

.dropper { 
    width: 4vw !important;
    height: 4vw !important;
}

.test_tube { 
    width: 5vw !important;
    height: 5vw !important;
    /* z-index: 10; */
}

.boiling_tube { 
    width: 6vw !important;
    height: 6vw !important;
}

.funnel, .filter_funnel { 
    width: 4vw !important;
    height: 4vw !important;
    /* z-index: 5 */
}

.filter, .folded_filter { 
    width: 3vw !important;
    height: 3vw !important;
}

.test_tube_funnel, .test_tube_funnel_filter { 
    width: 5vw !important;
    height: 6vw !important;
}