body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: contain;
  overflow: hidden;
  /* height: 1000px; */
}

body::-webkit-scrollbar { width: 0 !important }
html, body { 
  height: 100%;
}
a {
  color: #00B7FF;
}
